*{
    box-sizing: border-box;
}

.menu-article{
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: auto auto;
    grid-column-gap: 20px;
}

.menu-article #article-description {
    display: grid;
    grid-template-rows: auto;
    
}

.menu .article-title{
    margin-bottom: 30px;
    align-self: center;
    font-family: 'Alfa Slab One', cursive;
    font-size: 1.5em;
    letter-spacing: 3px;
    font-weight: bolder;
    color:  #ffee00;

}

.menu-article img {
    width: 450px;
}

.menu-article p {
    font-family: 'Alfa Slab One', cursive;
    letter-spacing: 2px;
    color: #ffee00;
}


@media only screen and (max-width: 1200px) {

    .menu-article{
        display: grid;
        grid-template-columns: 1fr;
    }

    .menu-article img {
        width: 400px;
        grid-row: 1/2 ;
    }

}

@media only screen and (max-width: 800px) {
    .menu-article img {
        width: 350px;
    }

}