.menu{
    height: auto;
    padding-bottom: 100px;
    background-color: #fd3636;
<<<<<<< HEAD
    background-image: url("../../../restaurant-app/public/images/contactbg.png");
=======
    background-image: url("../../../restaurant-app/public/images/contactbg.png")
>>>>>>> main
}

.menu .menu-title{
    padding:200px 50px 0 50px;
    font-family: 'Alfa Slab One', cursive;
    font-size: 2.4em;
    letter-spacing: 3px;
    font-weight: bolder;
    color: #ffee00;
    
    text-align: center;
}

.menu .sub-title{
    font-family: 'Alfa Slab One', cursive;
    font-size: 2.1em;
    letter-spacing: 3px;
    font-weight: bolder;
    color: #ffee00;
    
    text-align: start;
}

.menu .menu-container{
    margin: 0 auto;
    margin-top: 100px;
    padding: 20px;
    width: 80%;
    display: flex;
    flex-direction: column;
    row-gap: 80px;
    background-image: url('../../public/images/TEST.png');
}

.menu-container div {
    display: grid;
}

.menu-container a{
    padding: 10px 30px;
    border-radius: 10px;
    background-color: #ffee00;
    min-width: 200px;

    text-decoration: none;
    font-family: 'Alfa Slab One', cursive;
    font-size: 1.2em;
    letter-spacing: 2px;
    text-align: center;
    color: #fd3636;
    border: 2px solid transparent;
    box-shadow: inset 0 0 0 0 #fd3636;
    transition: ease-out 0.2s;
}

.more-btn-left{
    justify-self: baseline;
}

.more-btn-right{
    justify-self: end;
}

.menu-container a:hover{
    box-shadow: inset 400px 0 0 0 #fd3636;
    color: #ffee00;
    border: 2px solid #ffee00;
}