@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap');

html{
    scroll-behavior: smooth;

}

*{
    box-sizing: border-box;
}


.header {
    background-image: url("../../../../restaurant-app/public/front-page-header.jpg");
    background-color: #ffee00;
    background-repeat: no-repeat;
    background-position :fill;
    background-size: 100%;
    height: 100vh;

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr 1fr;

    justify-content: center;
    align-items: center;
    
}

.header .title {
    display: flex;
    justify-content: center;
    align-items: center;

    color: 	#ffee00;
    font-family: 'Alfa Slab One', cursive;
    font-size: 5em;
    font-weight: bold;
}

.header .scroll-btn{
    margin: 0 auto;
   
    padding: 30px 50px; align-self:flex-start;
    border-radius: 10px;
    width: 300px;
    background-color: #ffee00;

    text-decoration: none;
    font-family: 'Alfa Slab One', cursive;
    font-size: larger;
    letter-spacing: 5px;
    text-align: center;
    color: #fd3636;
    box-shadow: inset 0 0 0 0 #fd3636;
    transition: ease-out 0.3s;
}

.header .scroll-btn:hover{
    box-shadow: inset 400px 0 0 0 #fd3636;
    color: #ffee00;
}


@media only screen and (max-width: 1200px) {
    .header{
        background-position: fill;
        height: 500px;
    }

    .header .title{
        font-size: 3em;
    }

    .header .scroll-btn{
        display: none;
    }
}

@media only screen and (max-width: 800px) {
    .header{
        background-position: fill;
        height: auto;
    }

    .header .title{
        font-size: 3em;
    }

    .header .scroll-btn{
        display: none;
    }
}